[Unit]
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart={{ ansible_env.HOME }}/.nvm/nvm-exec yarn serve
WorkingDirectory=/deployments/current
Restart=on-failure

[Install]
WantedBy=multi-user.target
